@charset "UTF-8";

* {
    margin:0;
    padding:0;
}

header {
	position: relative; 
	width: 100%; 
	height: 100px;
	background-color:#2F4154;
}

header a {
	color: #b0e806;
	font-size:25px; 
	text-decoration:none;
	padding:5px;
	display:inline-block;
}

header img {
	position: absolute;
	left:15%;
	top:16px;
	width:173px;
	height:70px;
}

header span {
	position: absolute;
	left:41%;
	right:12%;
}

header ul {
	list-style:none;
}

header li {
	float:left;
	width:16%;
	top:33px;
	line-height:20px;
	text-align:center;
	position:relative;
}

body {
    background: #F9F9FB;
    overflow-y:scroll;
}

footer {
	background-color:#2F4154;
	width: 100%; 
	height: 100px;
}

footer p {
	padding:20px 0px 0px 10%;
	color:#F9F9FB;
}

.box {
	padding:0px 7px 20px 13px;
	width:31.6%;
	display: inline-block;
}

.tea-card {
	padding:0px 0px 0px 0px;
	width:100%;
	height:450px;
	background-color:white;
	box-shadow: 0 0 1px #909090
}

.tea-card:hover{
	transform: scale(1.05);
	-webkit-box-shadow: 2px 2px 10px 4px rgba(20, 20, 20, 1); 
	-moz-box-shadow: 2px 2px 10px 4px rgba(20, 20, 20, 0.6);
	box-shadow: 2px 2px 10px 4px rgba(20, 20, 20, 0.3);
}

.tea-card img {
	padding:0px 0px 0px 0px; 
	width:100%;
	height:312px;
}

#tea-name {
	text-decoration: none;
	position: relative; 
	top: 0px; 
	left: 20px;
	font-size:25px;
}

#tea-about {
	position: relative; 
	top: 10px; 
	left: 20px;
	font-size:20px;
	padding:0px 10% 0px 0px;
}

.article {
	padding:0px 10% 100px 10%;
}

.article p {
	text-align:justify;
}

.tea-page {
	padding:20px 0px 20px 10%;
	width:45%;
	display: inline-block;

}

.tea-page p {
	text-align:justify;
}

.tea-page-article {
	padding:20px 7% 40px 7%;
	background-color:white;
	width:100%;
	box-shadow: 0 0 1px #909090
}

.tea-page img {
	width:100%;
	padding:5px 5px 5px 5px;
	background-color:white;
	width:100%;
	box-shadow: 0 0 1px #909090
}

#tea-page-title {
	font-size:35px;
	font-color:black;
	box-shadow: 0 0 1px #909090
}

.tea-data {
	padding:20px 0px 20px 10%;
	width:20%;
	display: inline-block;
	vertical-align: top;
}

.tea-data span {
	padding:20px 20px 20px 20px;
	width:83%;
	display: inline-block;
	box-shadow: 0 0 1px #909090;
	background-color:white;
}